/target
/pkg
/wasm/pkg
/wasm/target
/wasm/node.js
/node_modules
/.wasm-tools
/.cargo-home
.DS_Store
/benchmark/results/bench.csv
/benchmark/results/rust-markdown-bench-*.csv
/benchmark/results/compare-bench-*.csv
/vendor
